/* .update_head{
    padding: 2%;
    margin: 0%;
}

.update{
    padding: 2%;
    flex-direction: column;
}
.update-container {
  width: 350px;
  height: 400px;
  margin: auto;
  padding: 15px;
  border-radius: 12px;
  background: #E3E3E3;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.up{
    display: flex;
    padding: 2%;
    margin-left:4%;
    margin-right: 4%;
    margin-bottom: 3%;
 }
 .up input{
    margin-top: 3px;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
 } */